
<h1>Flatiron</h1>
<h1>Team Motto: <%=@team.motto%></h1>
<h1>Team Name: <%=@team.name%></h1>
<h1><%@heros.each do |i|%></h1>
    <p>Hero Power <%=i.power%></p>
    <p>Hero Name <%=i.name%></lp>
    <p>Hero Bio <%=i.bio%></p>
    <p> <%end%></p>
